<div class="service">

    <div class="all-ele">
        <div class="hammer">
            <i class="fa tm-fa-6x fa-legal tm-color-primary"></i>
            <h3 class="service-title">Level HTML Template by Tooplate website</h3>
            <p class="service-text">You are allowed to download, edit and use this template for your business or client websites.</p>
            <p class="service-btn">CONTINUE READING...</p>
        </div>

        <div class="hammer">
            <i class="fa tm-fa-6x fa-plane"></i>
            <h3 class="service-title">Original Website Template Producer</h3>
            <p class="service-text">You are NOT allowed to re-distribute the downloadable template ZIP file on any website.</p>
            <p class="service-btn">CONTINUE READING...</p>
        </div>

        <div class="hammer">
            <i class="fa tm-fa-6x fa-life-saver"></i>
            <h3 class="service-title">Contact us if you have any question</h3>
            <p class="service-text">If you see this template being distributed on any other site, that is an illegal copy.</p>
            <p class="service-btn">CONTINUE READING...</p>
        </div>

    </div>


</div>