<div class="blog-entries" id="blog">

    <div class="asia">
        <p class="asia-title">ASIA</p>
        <p class="singapore-title">Singapore</p>
    </div>

    <div class="singapore">

        <div class="robo">
            <div>
                <img src="./../../assets/images/blog-robo.jpg" class="blog-img">
            </div>
            <div class="blog-text">
                <p class="blog-title">Suspendisse vel est libero sem phasellus ac laoreet</p>
                <p class="blog-text">Vivamus eget tellus ornare, sollicitudin quam id, dictum nulla. Phasellus finibus rhoncus justo, tempus eleifend neque dictum ac. Aenean metus leo, consectetur non.</p>
                <p class="blog-text">Etiam aliquam arcu at mauris consectetur scelerisque. Integer elementum justo in orci facilisis ultricies. Pellentesque at velit ante. Duis scelerisque metus vel felis porttitor gravida.</p>
            </div>
        </div>
        <div class="robo">
            <div>
                <img src="./../../assets/images/blog-comp.jpg" class="blog-img">
            </div>
            <div class="blog-text">
                <p class="nature-title">Suspendisse vel est libero sem phasellus ac laoreet</p>
                <p class="blog-text">Duis accumsan sagittis tortor in ultrices. Praesent tortor ante, fringilla ac nibh porttitor, fermentum commodo nulla.</p>
                <p class="btn-text">CONTINUE READING...</p>
            </div>
        </div>
        <div class="robo">
            <div class="blog-img">
                <img src="./../../assets/images/blog-nature.jpg" class="blog-img">
            </div>
            <div class="blog-text">
                <p class="nature-title">Faucibus dolor ligula nisl metus auctor aliquet</p>
                <p class="blog-text">Nunc in felis aliquet metus luctus iaculis vel et nisi. Nulla venenatis nisl orci, laoreet ultricies massa tristique id.</p>
                <p class="btn-text">CONTINUE READING...</p>
            </div>
        </div>

    </div>

</div>