.blog-entries {
    font-family: open sens Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(assets/images/blog-robo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.asia {
    width: 45%;
    text-align: center;
}

.asia-title {
    color: black;
    font-size: 50px;
    font-weight: 500;
    margin: 0;
}

.singapore-title {
    color: #dc3545;
    font-size: 30px;
    font-weight: 500;
    margin: 5px;
}

.robo {
    padding: 10px;
    border: 1px solid white;
    background-color: white;
    box-shadow: 10px 5px 5px 3px gainsboro;
    opacity: 0.9;
    width: 85%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-img {
    width: 260px;
    height: 190px;
    margin: 5px 5px;
    padding: 5px;
}

.blog-title {
    color: #dc3545;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 15px;
}

.blog-text {
    color: gray;
    font-size: 14px;
    margin: 10px 15px;
    line-height: 25px;
}

.nature-title {
    color: rgb(12, 12, 12);
    font-size: 20px;
    font-weight: 500;
    margin: 10px 15px;
}

.btn-text {
    color: #dc3545;
    font-weight: 500;
    margin: 10px 15px;
}