.check-in {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    color: gray;
    background-image: url(./../../assets/images/check-in-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.map-text {
    width: 257px;
    height: 40px;
    margin: 14px 15px;
    border: 1px solid rgb(155, 152, 152);
}

.map-text {
    padding-left: 40px;
}

.map-text:hover {
    border: 1px solid red;
}

.map {
    position: relative;
}

.map i {
    position: absolute;
    left: 14px;
    top: 10px;
    padding: 9px;
    color: red;
}

select {
    width: 220px;
    height: 40px;
    margin: 10px 15px;
    border: 1px solid rgb(155, 152, 152);
}

select:focus {
    border: 1px solid red;
}

select {
    padding-left: 40px;
}

.how-many {
    position: relative;
}

.how-many i {
    position: absolute;
    left: 10px;
    top: 5px;
    padding: 9px;
    color: red;
}

.check-btn {
    color: whitesmoke;
    width: 220px;
    height: 40px;
    margin: 10px 15px;
    background-color: rgb(253, 32, 32);
    border: 1px solid rgb(253, 32, 32);
    font-size: 11px;
    font-weight: 600;
    text-align: center;
}

.check-btn:hover {
    background-color: red;
}

form {
    width: 75%;
    height: 210px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid yellow;
}

.destination {
    display: flex;
}

.availibility {
    display: flex;
}

.help {
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
}

.check-text {
    font-size: 14px;
}

.need-text {
    color: rgb(250, 52, 52);
    font-size: 14px;
    margin-right: 14px;
}

.need-text:hover {
    color: red;
    cursor: pointer;
}