<div class="check-in">

    <div class="add-info">

        <div class="place">
            <input type="text" class="text" placeholder="Type your destination">
            <input type="date" class="text" placeholder="Check in">
            <input type="date" class="text" placeholder="Check out">
        </div>

        <div class="availibility">
            <select name="adult" id="adult" class="select">
                <option value="adult">adult</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            <select name="children" id="children" class="select">
                <option value="children">children</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            <select name="room" id="room" class="select">
                <option value="Room">Room</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            <button type="submit" class="check-btn">CHECK AVAILIBITY</button>
        </div>

        <div class="help">
            <div>
                <p class="help-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div>
                <p class="need-help">Need Help?</p>
            </div>
        </div>

    </div>

</div>