.check-in {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    color: gray;
    background-image: url(assets/images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.map-text {
    width: 245px;
    height: 40px;
    margin: 14px 15px;
    border: 1px solid rgb(155, 152, 152);
}

.map-text {
    padding-left: 40px;
}

.checked-text {
    padding: 0 45px;
    width: 200px;
    height: 40px;
    margin: 14px 15px;
    border: 1px solid rgb(155, 152, 152);
}

.map-text:hover {
    border: 1px solid #dc3545;
}

.map {
    position: relative;
    // margin: 15px 0 0 11px;
}

map:hover {
    border: 1px solid #dc3545 !important;
}

.map i {
    position: absolute;
    left: 14px;
    top: 13px;
    padding: 9px;
    color: #dc3545;
    font-size: 25px;
}

select {
    width: 208px;
    height: 40px;
    margin: 10px 15px;
    color: gray;
    border: 1px solid rgb(155, 152, 152);
}

select:hover {
    border: 1px solid #dc3545;
}

select {
    padding-left: 30px;
}

.how-many {
    position: relative;
}

.how-many i {
    position: absolute;
    left: 12px;
    top: 8px;
    padding: 9px;
    color: #dc3545;
    font-size: 25px;
}

.check-btn {
    color: whitesmoke;
    width: 220px;
    height: 40px;
    margin: 10px 15px;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
}

.check-btn:hover {
    background-color: red;
}

form {
    width: 75%;
    height: 180px;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
}

.destination {
    display: flex;
    justify-content: space-between;
}

.availibility {
    display: flex;
    justify-content: space-between;
}

.help {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    // margin: 0px 15px;
}

.check-text {
    font-size: 14px;
}

.need-text {
    color: #dc3545;
    font-size: 14px;
}

.need-text:hover {
    color: red;
    cursor: pointer;
}

.room {
    padding: 0 45px;
}