<div class="portfolio" id="portfolio">

    <div class="main-port">

        <div class="more-info">
            <img src="./../../assets/images/PORT-IMAGE1.jpg" class="port-img">
            <p class="port-heading">NUNC IN FELIS ALIQUET METUS LUCTUS EACULIS</p>
            <p class="port-text">Lorem ispum and also there ipsum dolor sit amet consectetur adipisicing elit. Sapiente quisquam impedit enim tempora sunt unde nemo aliquam tempore. Enim non aspernatur sequi voluptatem alias a ipsam odit facere repudiandae blanditiis!</p>
            <button type="button" class="port-btn">GET MORE INFO.</button>
        </div>

        <div class="more-info">
            <img src="./../../assets/images/PORT-IMAGE-2.jpg" class="port-img">
            <p class="port-heading">SED CURSUS DICTUM NUNC QUIS MOLESTIS</p>
            <p class="port-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque nisi, assumenda quos consectetur qui quo praesentium quasi cumque sapiente tempore repellendus a rerum placeat! Esse id quis reiciendis praesentium magni.</p>
            <button type="button" class="port-btn">VIEW DETAIL</button>
        </div>

        <div class="recommanded-places">
            <div class="about-place">
                <p class="place-heading">Recommended Places</p>
                <p class="place-text">Enamel pin cliche tilde, kitsch and VHS thundercats</p>
            </div>

            <div class="places">
                <img src="./../../assets/images/europ.jpg" class="place-img">
                <p class="place-name">EUROPE</p>
            </div>
            <div class="places">
                <img src="./../../assets/images/asia.jpg" class="place-img">
                <p class="place-name">ASIA</p>
            </div>
            <div class="places">
                <img src="./../../assets/images/africa.jpg" class="place-img">
                <p class="place-name">AFRICA</p>
            </div>
            <div class="places">
                <img src="./../../assets/images/south-america.jpg" class="place-img">
                <p class="place-name">SOUTH AMERICA</p>
            </div>

        </div>


    </div>


</div>